<div class="row">
    <h2 class="col-10">Nombre Heroe: {{hero.nombre}} <small>año de aparicion: {{hero.aparicion}} </small></h2>
    <div class="col-2">
        <button class="btn btn-outline-warning btn-block"[routerLink]="['/heros']">Regresar</button> 
    </div>
</div>

<hr>

<div class="row">
    <div class="col-4">
        <!-- <img src="{{hero.img}}" alt=""> -->
        <img [src]= "hero.img" class="img-fluid">
    </div>
    <div class="col-8">
        <h3>Casa:
            
            <!-- Uso del ngIf -->
            <img class="img-logo" src="../../../assets/img/dc.jpg" *ngIf = "hero.casa == 'DC'">
            <img class="img-logo" src="../../../assets/img/marvel.jpg" *ngIf = "hero.casa == 'Marvel'">
        </h3>
        <hr>
        <p>{{hero.bio}}</p>
    </div>
</div>