
    <div class="card fadeIn animated border" [ngClass]="{'border-primary': PadreHero.casa == 'DC','border-danger': PadreHero.casa == 'Marvel' }" >
      <img src="{{PadreHero.img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{PadreHero.nombre}}</h5>
        <p class="card-text">{{PadreHero.bio.substring(0,30)}}</p>
        <small>{{PadreHero.aparicion}}</small>  
    </div>
    <!-- (click)= "Navegar(i)" -->
      <button (click)= "Navegar()" class="btn btn-outline-primary btn-block">Ver más...</button>
    </div>

